<%- include('partials/header') %>
<main>
    <h2>My Library</h2>
    <section class="library-skills">
      <% if ( data && data.length > 0) { %>
      <ul class="library-list">
        <% data.forEach(book => { %>
          <li class="library-book">
            <img src="<%= book.coverurl %>" alt="Book cover for <%= book.title %>" class="book-cover">
            <div class="library-book-info">
              <strong><%= book.title %></strong> by <%= book.author %><br>
              <em>Subject:</em> <%= book.subject %><br>
              <em>EXP:</em> <%= book.expgained || 0 %><br>
              <form action="/library/update" method="POST" class="pages-form">
                <label>
                  Pages Read:
                  <input type="number" name="pagesRead" value="<%= book.pagesread %>" min="<%=book.pagesread %>" max="<%= book.pages %>">
                  / <%= book.pages %>
                </label>
                <input type="hidden" name="isbn" value="<%= book.isbn %>">
                <button type="submit">Update</button>
              </form>
            </div>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>You haven't added any books to your library yet.</p>
    <% } %>
    </section>
</main>
<%- include('partials/footer') %>
